@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,700&display=swap');
body{
    background: ffffff;
    border-top: 28px solid #ffffff ;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 

}
.wraper{
    width: 1440px;
    margin: 0  auto;
    overflow: hidden;

}
/* header */

.header_section{
    margin-top:0px;
    padding-bottom:6px;
    width: 1321px;
    overflow: hidden;

}
 .header_logo{
    width: 100px;
    float: left;
}

.header_nav{
    width: 550px;
    float: left;
    margin-top: 36px;
    margin-bottom: 48px;
    padding-left: 420px;


}
.header_nav ul{
padding: 0;
margin: 0;
list-style:none;
text-align: center;


}

.header_section .header_nav ul li{
    color: #54524f;
    font: bold 16.67px 'Open Sans';
    text-transform: uppercase;
    padding-left: 58px;
    display: inline-block;


}

.header_section .header_nav ul li a{
    color: #54524f;
text-decoration: none ;

}
.header_section .header_nav ul li a:hover{
    color: #deb37e;

}
.search_wrap{
    width: 200px;
    float:right;
padding-top: 14px;

}

.search_wrap .search_box{
	position: relative;
	
}
.search_wrap .search_box .input{
    position: absolute;

	width: 182px;
	height: 52px;
    background-color: #c3bfbc;
    border-radius: 50px;
    border-color:#68635f;
    outline: none;



}


.search_wrap .search_box .btn  .fas{
	color: #68635f;
    margin-left: 120px;
    display: inline;
    margin-top: 14px;
    margin-bottom: 14px;
    position: absolute;

    size: 32px;
   

}
/* header end */

.body_section{
    margin-top:0px;

}
.banner{
    height: 813px;
    width: 100%;
}
.banner_left_side{
    width: 554px;
    height: 457px;
}

.banner_left_side h1{
    color: #deb37e;
    text-shadow: 0 7px #000000 ;
    

}

/* body start */

/* banner  */
.banner{
background: url('../image/img1.jpg');
height: 815px;
width: 100%;
}

.banner_content{
    padding-top: 280px;
    margin-left: 93px;

}

.banner_content h1{
    color: #deb37e;
    font-size: 92px;
    font-family: 'Open Sans';
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 0 7 #000000 ;
    margin-bottom: 0px;

}

.banner_content p{
    padding-top: 0px;
    color: #54524f;
    font-size: 25px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
}
.banner_content a{
    text-decoration: none;
    margin-right: 20px;
}

.banner_content .btn1{

    padding: 10px 40px;
    background-color: #fefefd ;
    font-size:25px;
    font-weight: 800;
    font-style: italic;
    color: #776c64;
    border-radius: 30px;

}

.banner_content .btn1:hover{
    background-color: #776c64 ;
    color: #fefefd;
    

}

.banner_content p{
    padding-top: 0px;
    color: #54524f;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
}