@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif;

}
html {
    box-sizing: border-box;
    font-size: 80%;
  }


  /* header and  banner section */


  .header_section {
    width: 100%;
    height: 957px;
    background-image: url("../image/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .header_nav {
    display: flex;
    align-items: center;
    margin-top: -4px;
    width: 100%;
    height: 196px;
    background: transparent url("../image/Shape.png") 0% 0% no-repeat padding-box;
    background-size: 100% auto;
    box-shadow: 3px -4.29px 5px #e8e6e5bf;
  }
  .nav {
    display: flex;
    width: 100%;
  }
  .logo {
    margin-right: auto;
    margin-left: 20px;
    margin-top: -30px;
  }
  .nav-items {
    margin-left: auto;
    justify-content: space-between;
  }
  .nav_menu {
    text-transform: uppercase;
    font-weight: bold;
    color: #54514e;
    font-size: medium;
    letter-spacing: 3.33px;
    margin-left: 20px;
    margin-top: -20px;
  }
  .nav_search {
    display: inline-block;
    position: relative;
    color: #54524f;
  }
  .search-form {
    width: 183px;
    height: 51px;
    background: #7f7770 0% 0% no-repeat padding-box;
    opacity: 0.47;
    border: none;
    border-radius: 25px;
  }
  .search-icon {
    position: relative;
    font-size: xx-large;
    top: 5px;
    left: -55px;
  }
 .header_section h1 {
    margin-top: 90px;
    margin-left: 80px;
    transform: matrix(1, 0, 0, 1, 0, 0);
    text-align: left;
    letter-spacing: 0px;
    color: #deb37e;
    text-shadow: 3px -4.29px 5px #54524f38;
    font-size: 5.72rem;
    font-weight: bolder;
  }
  .header_section h3 {
    margin-left: 85px;
    height: 104px;
    text-align: left;
    letter-spacing: 5px;
    color: #54524f;
    font-weight: bold;
    font-style: italic;
    font-size: 1.563rem;
  }
  .btn_read {
    outline: none;
    border: none;
    margin-top: 0;
    margin-left: 85px;
    width: 218px;
    height: 47px;
    background: #ffffff 0% 0% no-repeat padding-box;
    opacity: 0.9;
    border-radius: 25px;
    font-size: 1.563rem;
    text-align: center;
    letter-spacing: 0px;
    color: #776c64;
    font-weight: bolder;
  }
 .header_section p {
    margin-top: 20px;
    margin-left: 85px;
    width: 491px;
    height: 169px;
    text-align: left;
    letter-spacing: 1.04px;
    color: #54524f;
    font-style: italic;
    font-size: 1.313rem;
  }
  .shape_1{
    width: 100%;
    height: 191px;
    background: transparent url("../image/Shape-1.png") 0% 0% no-repeat padding-box;
    background-size: 100% auto;
  }


    /* header and  banner section */


/* card */

.middle_section {
  width: 100%;
  height: 1074px;
  margin-top: 100px;
  background-image: url("../image/Group-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: space-between;
  flex-direction: column;
}

.middle_section h1 {
  margin: 0px auto;
  width: 293px;
  height: 85px;
  text-align: left;
  letter-spacing: 0px;
  color: #e2a355;
  font-size: 3.938rem;
  font-weight: bolder;
}
.middle_section p {
  margin: 10px auto;
  width: 774px;
  height: 127px;
  text-align: center;
  letter-spacing: 0px;
  color: #7f7770;
  text-align: center;
  font-style: italic;
  font-size: 1.75rem;
}
.slice{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 83px;

}
.grid {
    display: grid;
    width: 1184px;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: start;
  }
  
  .grid-item {
    background-color: #7f7770;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
   
    object-fit: cover;
    width: 100%;
  height: 300px;
  display: inline-block;
  }
  
  .card_content {
    padding: 20px;
  }
  
  .card_content h1{
    margin-top: 30px;
    width: 307px;
    height: 86px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    font-size:30px; 
    font-weight: bold;

    
  }
  
  .card_content p {
    margin-top: -30px;
    width: 307px;
    height: 86px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;

  }

.btn-show {
  border: none;
  margin-top: 80px;
  width: 334px;
  height: 75px;
  background: #7f7770 0% 0% no-repeat padding-box;
  opacity: 0.9;
  border-radius: 45px;
  font-size: 1.375rem;
  text-align: center;
  letter-spacing: 4.6px;
  color: #ffffff;
  font-weight: bolder;
}

/* split screen */

.split_parent{

  width: 100%;
  height: 1560px;
  }
.split_screen1,.split_screen2  {
  width: 100%;
  height: 780px;
  background: #7f7770 0% 0% no-repeat padding-box;
}
.split_screen2 {
  background: #deb37e 0% 0% no-repeat padding-box;
}
.split_screen1_pic,
.split_screen2_pic {
  float: left;
  width: 50%;
  height: 780px;
}
.split_screen2_pic {
  float: right;
}
.split_screen1_pic img,
.split_screen2_pic img {
  object-fit: cover;
  width: 100%;
  height: 780px;
}
.split_screen1_title,
.split_screen2_title {
  display: inline-block;
  margin-top: 10%;
  margin-left: 50px;
  width: 40%;
  height: 780px;
}
.split_screen1 h4,
.split_screen2 h4 {
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 3.625rem;
  font-weight: bold;
  width: 550px;
  height: 149px;
}
.split_screen1 p,
.split_screen2 p {
  margin-top: 30px;
  width: 560px;
  height: 192px;
  text-align: left;
  letter-spacing: 0px;
  color: #ffffff;
  font-size: 1.823rem;
}
.split_screen1 button,
.split_screen2 button {
  margin-top: 40px;
  width: 334px;
  height: 75px;
  background: #e2a355 0% 0% no-repeat padding-box;
  border-radius: 38px;
  border: none;
  text-align: center;
  letter-spacing: 5.79px;
  color: #ffffff;
  font-size: 1.81rem;
  font-weight: bold;
}


  .hiking_wraper{
      height: 640px;
      width: 100%;
      background-color: #99928d;
      text-align: center;
      padding-top: 228px;

    }
    .hiking_wraper h2{

        font-family: "open sans";
        font-size: 58px;
        font-weight: 800; 
        font-style: bold;
        color: #ffffff;
      }
      .hiking_wraper p{
        font-family: "open sans";
        font-size: 29px;
        font-weight: 400; 
        color: #dbdbdb;

      }

      /* explore  */

      .text-on-image {
        background-image: url("../image/img6.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
    
        background-size: cover;
        color: white;
        width: 100%;
        height: 826px;
      }

      .text-on-image a{
    text-decoration: none ;

    
    }

    
  
      .text-on-image .explore_text {
        padding-top: 307px;
      }
      .text-on-image .explore_text .explore {
        font-family: "open sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 56px;
        padding-left: 1000px;
        color: #deb37e;
        text-shadow: 0 1px #1f1e1e ;
        letter-spacing: 3px;

    }
  
      
      .text-on-image .explore_text .the_world {
        font-family: "open sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 70px;
        padding-left: 860px;
        color: #54524f;
        letter-spacing: 3px;
        text-shadow: 0 1px #000000 ;

      }
      
      
      /* @media (min-width: 768px) {
        
      .text-on-image .intro-text {
          padding-top: 150px;
          padding-bottom: 200px;
          margin-left: 50%;
      
        }
        
      .text-on-image .intro-text .intro-lead-in {
          font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-style: italic;
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 25px;
        }
        
      .text-on-image .intro-text .intro-heading {
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 75px;
          line-height: 75px;
          margin-bottom: 50px;
        }
      } */


      /* text div */
   
      
      .text_div_wrapper{
        margin-top: 175px;
      }
      .text_div{
        display: flex;
        justify-content: center;
        width: auto;
        text-align: center;
        flex-wrap: wrap;
      }
      
      .text_div .text_div_txt{
        background: #fff;
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        line-height: 20px;
        color: #8e8b8b;  
        position: relative;
      }
      
      .text_div .text_div_txt h3{
        color: #deb37e;
        font-size: 33px;
        font-family: "open sans";
        font-weight: 800;
        font-style: bold;
        margin-top: 50px;
text-align: center;      }
      
      .text_div .text_div_txt p{
        color: #333d42;
        margin: 12px 0;
        font-size: 19px;
        font-family: "open sans";
        font-weight: 400;
        text-transform: uppercase;
      }
      
      /* quote */
      

      .quote{
        text-align: center;
    }
    blockquote{
        font-size: 38px;
        padding-top: 52px;
        
    }
    blockquote::before{
        content: "\201C";
        font-size: 38px;
        font-family: "open sans";
        position: relative;
        font-style: bold;
        font-weight: 800;
                color: #3f3f3f;
    }

    .quote_text_p{
        font-size: 25px;
        font-family: "open sans";
        position: relative;

    }

.quote_text_author
{
    font-size: 20px;
    font-family: "open sans";
    position: relative;
    font-style: bold;
    font-weight: 800;

}


/* subscribe */

.subscribe_body{
   
    margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #deb37e;
        height: 750px;
  
}


.subscribe_container {
    align-items: center;
    width: 900px;
    padding: 60px;
    margin: 20px;
}

.subscribe_container h2.title {
    color: #FFF;
    text-align: center;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: bold;
    font-family: "open sans";
}

.subscribe_container p {
    color: #FFF;
    font-size: 29px;
    text-align: center;
    margin: 10px 0;
    font-family: "open sans";

}

.subscribe_container form .inputBox {
    width: 770px;
    height: 60px;
    background: #ffffff;
    border-radius: 50px;
    position: relative;
    padding-right: 75px;
    justify-content: center;
}

.subscribe_container form .inputBox input {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    font-size: 1rem;
    color: #f1f1f1;
}

.subscribe_container form .inputBox input::placeholder {
    color: #8b8a88;
}

.subscribe_container form .inputBox button.btn {
    position: absolute;
    right:0px;
    top: 50%;
    transform: translateY(-50%);
    width: 222px;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #54524f;
    color: #FFF;
    cursor: pointer;
    font-size: 25px;
    font-style: bold;
    font-family: "open sans";



}

footer{
    display: flex;
    flex-flow: row wrap;
    padding-top: 280px;
    background-color: #7f7770;
    height: 780px;
    width: 100%;
    padding-left: 100px;
}





.footer_left{
    margin-right: 90px;

}
.footer_left  h3{

    font-size: 32px;
    font-weight:400 ;
    color: #ffffff;
    padding-bottom: 35px;


}
.footer_left .footer_left_p{

    font-size: 23px;
    font-weight:400 ;
    color: #ffffff;

}

.social_media a{
    background: #ffffff;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50px;
}
.social_media a i{
    color: #7f7770;
    padding: 10px 12px;
    font-size: 20px;

}
.footer  ul{
    list-style: none;
    padding-left: 0;
    font-size: 32px;
}

.footer  li{
    line-height: 32px;
}

.footer a{
    text-decoration: none;
}
 
.footer_right{
    display: flex;
    flex-flow: row wrap;
}



.footer_right_box a{
    color: #ffffff;


}

.footer_right  h2{

    font-size: 32px;
    font-weight:400 ;
    color: #ffffff;
    padding-bottom: 35px;

}
.footer_right a{

    font-size: 23px;
    font-weight:400 ;
    color: #ffffff;
    padding-right: 50px;


}