@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300;1,700&display=swap');

html {
    box-sizing: border-box;
    font-size: 80%;
  }
body{
    background: ffffff;
    border-top: 28px solid #ffffff ;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px; 

}
.wraper{
    width: 1440px;
    margin: 0  auto;
    overflow: hidden;

}
/* header */

.header_section{
    margin-top:0px;
    padding-bottom:6px;
    width: 1321px;
    overflow: hidden;

}
 .header_logo{
    width: 100px;
    float: left;
}

.header_nav{
    width: 550px;
    float: left;
    margin-top: 36px;
    margin-bottom: 48px;
    padding-left: 420px;


}
.header_nav ul{
padding: 0;
margin: 0;
list-style:none;
text-align: center;


}

.header_section .header_nav ul li{
    color: #54524f;
    font: bold 16.67px 'Open Sans';
    text-transform: uppercase;
    padding-left: 58px;
    display: inline-block;


}

.header_section .header_nav ul li a{
    color: #54524f;
text-decoration: none ;

}
.header_section .header_nav ul li a:hover{
    color: #deb37e;

}
.search_wrap{
    width: 200px;
    float:right;
padding-top: 14px;

}

.search_wrap .search_box{
	position: relative;
	
}
.search_wrap .search_box .input{
    position: absolute;

	width: 182px;
	height: 52px;
    background-color: #c3bfbc;
    border-radius: 50px;
    border-color:#68635f;
    outline: none;



}


.search_wrap .search_box .btn  .fas{
	color: #68635f;
    margin-left: 120px;
    display: inline;
    margin-top: 14px;
    margin-bottom: 14px;
    position: absolute;

    size: 32px;
   

}
/* header end */

.body_section{
    margin-top:0px;

}
.banner{
    height: 813px;
    width: 100%;
}
.banner_left_side{
    width: 554px;
    height: 457px;
}

.banner_left_side h1{
    color: #deb37e;
    text-shadow: 0 7px #000000 ;
    

}

/* body start */

/* banner  */
.banner{
background: url('../image/img1.jpg');
height: 815px;
width: 100%;
}

.banner_content{
    padding-top: 280px;
    margin-left: 93px;
    margin-bottom: 252px;


}

.banner_content h1{
    color: #deb37e;
    font-size: 92px;
    font-family: 'Open Sans';
    font-weight: 800;
    letter-spacing: 3px;
    text-shadow: 0 7 #000000 ;
    margin-bottom: 0px;

}

.banner_content p{
    padding-top: 0px;
    color: #54524f;
    font-size: 25px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    letter-spacing: 3px;
}
.banner_content a{
    text-decoration: none;
    margin-right: 20px;
}

.banner_content .btn1{

    padding: 10px 40px;
    background-color: #fefefd ;
    font-size:25px;
    font-weight: 800;
    font-style: italic;
    color: #776c64;
    border-radius: 30px;

}

.banner_content .btn1:hover{
    background-color: #776c64 ;
    color: #fefefd;
    

}

.banner_content p{
    padding-top: 0px;
    color: #54524f;
    font-size: 20px;
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
}

/* card */

.middle_text{
    text-align: center;
    margin-top: 126px;
}

.middle_text h1{

    font-size: 63px;
    font-family: "open sans";
    font-weight: 800;
    color: #e2a355;
}

.middle_text p{

    font-size: 27px;
    font-family: "open sans";
    font-weight: 400;
    color: #b2ada9;
    
}
  
.slice{
    background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 83px;

}



.grid {
    display: grid;
    width: 1184px;
    grid-gap: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    align-items: start;
  }
  
  .grid-item {
    background-color: #7f7770;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
  }
  
  .grid-item:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
  }
  
  .card-img {
    display: block;
    width: 100%;
    height: 20rem;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-header {
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    margin-bottom: 1.5rem;
    font-family: "open sans";
    font-style: bold;

    
  }
  
  .card-text {
    font-size: 16px;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #ffffff;
    margin-bottom: 2.5rem;
    font-weight: 400;
    font-family: "open sans";

  }
  
  
  /* @media only screen and (max-width: 60em) {
    body {
      padding: 3rem;
    }
  
    .grid {
      grid-gap: 3rem;
    }
  } */
  

  .btn2_container { 
    margin-top:  60px;
    position: relative;
    margin-bottom: 180px;
  }

  .btn2_container  a{
    text-decoration: none;
    margin-right: 18px;
}
  
  .btn2_center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7f7770 ;
    font-size:23px;
    font-weight: 800;
    border-radius: 30px;
    padding: 10px 30px;



  }

  .btn2_center .btn2{
     
    color: #ffffff;
    border-radius: 30px; 
    text-transform: uppercase;


}


/* split screen */

.split_parent{
width: 100%;
height: 1560px;
}
.split_1, .split_2  {
    display: flex;
    height: 50%;

  }
  h2{

    font-family: "open sans";
    font-size: 58px;
    font-weight: 800; 
    font-style: bold;
  }
  p{
    font-family: "open sans";
    font-size: 29px;
    font-weight: 400; 
  }

  
  .image_split_1 {
      padding: 64px;
    width: 50%;
    color: #ffffff;
    background: #ffffff;
    }
  
  .text_split_1 {
    color: #ffffff;
    background: #7f7770;
    
  }
 
 

  .image_split_2 {
    width: 50%;
    padding: 100px;
    color: #ffffff;
    background: #deb37e;

}
  
  .text_split_2 {
    color: #ffffff;
    background: #deb37e;
  }

 
  a.readmore {
    font-family: "open sans";
    background: none;
    background-color: #e2a355 ;
    border-radius:30px;
    width:333px;
    height: 22px;
  text-align: center;
  padding: 10px 40px;
  margin-bottom: 22px;

   
    font-size: 29px;
    font-style: bold;
    font-weight: 800;
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
      cursor: pointer;
  }
 a.readmore:hover {
    text-decoration: none;
    background-color: #ffffff;
    color: #e2a355;
      cursor: pointer;
  }
  
  /* @media screen and (max-width: 600px){
    
    .parent {
      flex-direction: column-reverse;  
    }
    
    .item {
      width: auto;
      min-height: 200px;
    }
    
    .last {
      background: #aa0000;
    }
    
  } */

  .hiking_wraper{
      height: 640px;
      width: 100%;
      background-color: #99928d;
      text-align: center;
      padding-top: 228px;

    }
    .hiking_wraper h2{

        font-family: "open sans";
        font-size: 58px;
        font-weight: 800; 
        font-style: bold;
        color: #ffffff;
      }
      .hiking_wraper p{
        font-family: "open sans";
        font-size: 29px;
        font-weight: 400; 
        color: #dbdbdb;

      }

      /* explore  */

      .text-on-image {
        background-image: url("../image/img6.jpg");
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: center center;
    
        background-size: cover;
        color: white;
        width: 100%;
        height: 826px;
      }

      .text-on-image a{
    text-decoration: none ;

    
    }

    
  
      .text-on-image .explore_text {
        padding-top: 307px;
      }
      .text-on-image .explore_text .explore {
        font-family: "open sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 56px;
        padding-left: 1000px;
        color: #deb37e;
        text-shadow: 0 1px #1f1e1e ;
        letter-spacing: 3px;

    }
  
      
      .text-on-image .explore_text .the_world {
        font-family: "open sans", sans-serif;
        font-style: italic;
        font-weight: 800;
        font-size: 70px;
        padding-left: 860px;
        color: #54524f;
        letter-spacing: 3px;
        text-shadow: 0 1px #000000 ;

      }
      
      
      /* @media (min-width: 768px) {
        
      .text-on-image .intro-text {
          padding-top: 150px;
          padding-bottom: 200px;
          margin-left: 50%;
      
        }
        
      .text-on-image .intro-text .intro-lead-in {
          font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
          font-style: italic;
          font-size: 40px;
          line-height: 40px;
          margin-bottom: 25px;
        }
        
      .text-on-image .intro-text .intro-heading {
          font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 75px;
          line-height: 75px;
          margin-bottom: 50px;
        }
      } */


      /* text div */
   
      
      .text_div_wrapper{
        margin-top: 175px;
      }
      .text_div{
        display: flex;
        justify-content: center;
        width: auto;
        text-align: center;
        flex-wrap: wrap;
      }
      
      .text_div .text_div_txt{
        background: #fff;
        margin: 5px;
        margin-bottom: 50px;
        width: 300px;
        padding: 20px;
        line-height: 20px;
        color: #8e8b8b;  
        position: relative;
      }
      
      .text_div .text_div_txt h3{
        color: #deb37e;
        font-size: 33px;
        font-family: "open sans";
        font-weight: 800;
        font-style: bold;
        margin-top: 50px;
text-align: center;      }
      
      .text_div .text_div_txt p{
        color: #333d42;
        margin: 12px 0;
        font-size: 19px;
        font-family: "open sans";
        font-weight: 400;
        text-transform: uppercase;
      }
      
      /* quote */
      

      .quote{
        text-align: center;
    }
    blockquote{
        font-size: 38px;
        padding-top: 52px;
        
    }
    blockquote::before{
        content: "\201C";
        font-size: 38px;
        font-family: "open sans";
        position: relative;
        font-style: bold;
        font-weight: 800;
                color: #3f3f3f;
    }

    .quote_text_p{
        font-size: 25px;
        font-family: "open sans";
        position: relative;

    }

.quote_text_author
{
    font-size: 20px;
    font-family: "open sans";
    position: relative;
    font-style: bold;
    font-weight: 800;

}


/* subscribe */

.subscribe_body{
   
    margin-top: 100px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #deb37e;
        height: 750px;
  
}


.subscribe_container {
    align-items: center;
    width: 900px;
    padding: 60px;
    margin: 20px;
}

.subscribe_container h2.title {
    color: #FFF;
    text-align: center;
    font-size: 75px;
    text-transform: uppercase;
    font-weight: 800;
    font-style: bold;
    font-family: "open sans";
}

.subscribe_container p {
    color: #FFF;
    font-size: 29px;
    text-align: center;
    margin: 10px 0;
    font-family: "open sans";

}

.subscribe_container form .inputBox {
    width: 770px;
    height: 60px;
    background: #ffffff;
    border-radius: 50px;
    position: relative;
    padding-right: 75px;
    justify-content: center;
}

.subscribe_container form .inputBox input {
    position: absolute;
    left: 0;
    top: 0;
    width: calc(100% - 50px);
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    background: transparent;
    padding: 0 20px;
    font-size: 1rem;
    color: #f1f1f1;
}

.subscribe_container form .inputBox input::placeholder {
    color: #8b8a88;
}

.subscribe_container form .inputBox button.btn {
    position: absolute;
    right:0px;
    top: 50%;
    transform: translateY(-50%);
    width: 222px;
    height: 100%;
    border-radius: 30px;
    border: none;
    outline: none;
    background: #54524f;
    color: #FFF;
    cursor: pointer;
    font-size: 25px;
    font-style: bold;
    font-family: "open sans";
    


}


